{% extends "mail/base.html" %}

{% load static %}

{% block content %}
    <h2>Compose Email</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Recipient:</label><br>
        <input type="email" name="recipient"><br>
        <label>Subject:</label><br>
        <input type="text" name="subject"><br>
        <label>Body:</label><br>
        <textarea name="body"></textarea><br>
        <button type="submit">Send</button>
    </form>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
