{% extends 'mail/base.html' %}

{% block content %}
    <h1>Email Log for {{ user.username }}</h1>
    <ul>
        {% for email in emails %}
            <li>
                <strong>Subject:</strong> {{ email.subject }}<br>
                <strong>Sent to:</strong> {{ email.recipient.username }}<br>
                <strong>Sent at:</strong> {{ email.timestamp|date:"Y-m-d H:i" }}<br>  <!-- Display timestamp -->
                <p>{{ email.body }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
